<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262101631114-5pu5sriidpmimo91fve33nlugfi93gd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262101631114-5pu5sriidpmimo91fve33nlugfi93gd9</string>
	<key>API_KEY</key>
	<string>AIzaSyBJq56KURaUhBZKc_ITdcikoTauDsfk5Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>262101631114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.firebase.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>cnc-flutter-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cnc-flutter-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262101631114:ios:7794a2e4131df704e5ed73</string>
</dict>
</plist>